body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1, h2, p {
    font-family: Monaco, sans-serif;
}

.header {
    background: #fff;
    padding: 15px;
    border-left: 4px solid #256329;
    margin-bottom: 20px;
    border-radius: 6px;
}

.content {
    border: 2px solid #256329;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    line-height: 170%;
}
